<!DOCTYPE html>
<html lang="es" ng-app='DebugDun'>
    <head>
        <meta charset="UTF-8">
        <title>Debug Dungeon</title>
        <link rel="stylesheet" href="node_modules/angular-material/angular-material.min.css">

        <script src="node_modules/angular/angular.min.js"></script>               
        <script src="node_modules/angular-route/angular-route.min.js"></script> 
        <script src="node_modules/angular-animate/angular-animate.min.js"></script>        
        <script src="node_modules/angular-aria/angular-aria.min.js"></script>        
        <script src="node_modules/angular-messages/angular-messages.min.js"></script> 

        <script src="node_modules/angular-material/angular-material.js"></script>
        <script src="index.js"></script>
        <script src=""></script>
    </head>
    <body ng-controller="gameController">  
                  
        <div layout="row" layout-fill>   

            <div layout="column" flex=30 layout-padding >
                <md-content flex=71>

                    <div>
                        <h6>Nombre: {{player.name}}</h6>
                        <h6>Vida: {{player.healthPoints}}</h6>
                    </div>

                    <div>
                        <h6>Equipamiento:</h6>
                        <h6>Casco:</h6>
                        <h6>Armadura:</h6>
                        <h6>Piernas:</h6>
                        <h6>Mano Izquierda:</h6>
                        <h6>Mano Derecha:</h6>
                    </div>

                    <md-button ng-click="inventoryManager.open()">Inventario</md-button>

                </md-content>
    
                <md-divider></md-divider>
    
                <md-content flex=29 >
                    mapa
                </md-content>

            </div>

            <md-divider></md-divider>  

            <md-content flex=70 layout-padding layout="column">
                <div flex=90>Juego</div>

                <md-divider></md-divider>

                <div flex=10>
                    <md-button>Adelante</md-button>  
                    
                    <md-button>Izquierda</md-button>  
                    
                    <md-button>Derecha</md-button>  
                    
                    <md-button>Atras</md-button> 
                    
                    <md-button>Buscar Objetos</md-button>
                </div>

            </md-content> 

            <md-sidenav class="md-sidenav-left" md-component-id="inventory" layout-padding layout="column">

                <div flex=90>Contenido Inventario</div>

                <md-divider></md-divider>

                <div flex=10>
                    <md-button ng-click="inventoryManager.close()">Cerrar inventario</md-button>
                </div>

            </md-sidenav>

        </div>   

    </body>
    
</html>